<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
</head>
<body>
<div class="content">
    <form method="post" th:action="@{'/registration'}">
        <h2>Please sign up</h2>
        <p>
            <label>FULL NAME</label>
            <input type="text" name="fullName" placeholder="Full name" required>
        </p>

        <p>
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" required>
        </p>
        <label>Password</label>
        <p>
            <input type="password" name="password" placeholder="Password" required>
        </p>
        <label>RE Password</label>
        <p>
            <input type="password" name="rePassword" placeholder="Password" required>
        </p>
        <button>Sign up</button>

    </form>

</div>
</body>
</html>